<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.story.craftystudio.shortstory">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ActivityThemeLight">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ActivityThemeLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="utils.FirebasePushNotification">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="acc1b0b9ec29985ac9dbef0f05837dac47e0b387" />

        <activity
            android:name=".Main2ActivityQuotes"
            android:label="@string/title_activity_main2_quotes"
            android:theme="@style/ActivityThemeLight" />
        <activity
            android:name=".MyWelcomeActivity"
            android:theme="@style/WelcomeScreenTheme" />
        <activity
            android:name=".StoryFeedActivity"
            android:label="@string/title_activity_story_feed"
            android:theme="@style/ActivityThemeLight"></activity>
        <activity
            android:name=".BookmarkActivity"
            android:label="@string/title_activity_bookmark"
            android:theme="@style/ActivityThemeLight"></activity>
    </application>

</manifest>